In [1]:
import pandas as pd
import numpy as np
import sklearn.model_selection as ms
import sklearn.linear_model as lm


df2 = pd.read_csv(r"E:\File Program\Semester II\Jupyter Notebook\Data Latihan\data\New Folder\bensin2.csv")
df2

    Liter  Penumpang  Bagasi  Kecepatan   RPM  Suhu  Kilometer
0      20          1       0         42  3000    29        142
1      25          2      15         50  4000    36        177
2      20          4      10         50  3000    24        144
3      30          5      25         50  3000    18        203
4      40          1      40         50  3200    30        273
..    ...        ...     ...        ...   ...   ...        ...
60     31          3       0         50  3000    30        203
61     37          1       0         50  3000    22        241
62     23          2      10         50  3000    30        142
63     36          2       0         50  3000    20        241
64     23          1      15         50  3000    30        142

[65 rows x 7 columns]

In [2]:
df2.count()

Liter        65
Penumpang    65
Bagasi       65
Kecepatan    65
RPM          65
Suhu         65
Kilometer    65
dtype: int64

In [3]:
df2.sum()

Liter                                                     1719
Penumpang                                                  155
Bagasi                                                     555
Kecepatan                                                 3242
RPM          3000400030003000320029003000350030003000220025...
Suhu                                                      1868
Kilometer                                                10745
dtype: object

In [4]:
df2.describe()

           Liter  Penumpang     Bagasi  Kecepatan       Suhu   Kilometer
count  65.000000  65.000000  65.000000  65.000000  65.000000   65.000000
mean   26.446154   2.384615   8.538462  49.876923  28.738462  165.307692
std     7.424686   1.558167  13.101857   0.992278   3.378595   68.571113
min     6.000000   1.000000   0.000000  42.000000  18.000000    1.000000
25%    23.000000   1.000000   0.000000  50.000000  29.000000  142.000000
50%    25.000000   2.000000   0.000000  50.000000  30.000000  174.000000
75%    30.000000   4.000000  15.000000  50.000000  30.000000  211.000000
max    45.000000   6.000000  60.000000  50.000000  36.000000  278.000000

In [5]:
df2.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
60    False
61    False
62    False
63    False
64    False
Length: 65, dtype: bool

In [6]:
import pandas as pd
import numpy as np
import sklearn.model_selection as ms
import sklearn.linear_model as lm


df2 = pd.read_csv(r"E:\File Program\Semester II\Jupyter Notebook\Data Latihan\data\New Folder\bensin2.csv")
X = df2[['Liter', 'Penumpang', 'Suhu', 'Kecepatan']]
y = df2[['Kilometer']]
X_train, X_test, y_train, y_test = ms.train_test_split(X, y, test_size = 0.1, random_state = 0)
print(X_train.size, y_train.size)

232 58

In [23]:
modell = lm.LinearRegression()
modell.fit(X_train, y_train)

print('Intercept =', modell.intercept_)
print('Slope =', modell.coef_)

Intercept = [71.89241946]
Slope = [[ 6.54072143  2.99204736  2.45423995 -3.21123461]]

In [24]:
data1 = np.array([[30, 2, 10, 50]])
hasil = modell.predict(data1)
print('Hasil prediksi =', hasil)

Hasil prediksi = [[138.07882573]]

In [25]:
r2 = modell.score(X_test, y_test)
print('Hasil scoring =', r2)

Hasil scoring = 0.6822990991636202

In [26]:
hasil = modell.predict([[30, 2, 10, 50]])
print('Hasil prediksi =', hasil)

Hasil prediksi = [[138.07882573]]

In [27]:
prediksi = modell.predict(X_test)
print(prediksi)

[[ 66.96464374]
 [136.74253048]
 [152.00577758]
 [141.37857467]
 [108.94740324]
 [249.57879157]
 [174.35461751]]

In [28]:
print(y_test)

    Kilometer
45        102
29        167
43        177
62        142
34        144
33        278
31        211

In [29]:
#y = 71.89 + 
a = 71.892 + (6.540 * 30) + (2.992 * 2) + (2.454 * 10) + (-3.211 * 50)
print(a)

138.066

In [30]:
print('Perbandingan hasil prediksi apakah sama atau mendekati nilai hasil perhitungan linear.')

print()

print('Hasil prediksi =', hasil)
print('Hasil perhitungan linear =', a)

Perbandingan hasil prediksi apakah sama atau mendekati nilai hasil perhitungan linear.

Hasil prediksi = [[138.07882573]]
Hasil perhitungan linear = 138.066

In [32]:
print('Terlihat bahwa hasil perbandingan cukup akurat karena mendekati angka hasil prediksi. Jadi kesimpulannya, ' + 
'jika mobil di isi 30 liter bensin dengan 2 penumpang tanpa bagasi serta kecepatan 50 km/h dengan suhu 10 derajat maka ' + 
'mobil dapat menempuh jarak hingga 138,07 km.')

Terlihat bahwa hasil perbandingan cukup akurat karena mendekati angka hasil prediksi. Jadi kesimpulannya, jika mobil di isi 30 liter bensin dengan 2 penumpang tanpa bagasi serta kecepatan 50 km/h dengan suhu 10 derajat maka mobil dapat menempuh jarak hingga 138,07 km.

In [16]:
done = 'Berhasil'
print(done)

Berhasil

In [20]:
#y = 71.89 + 
b = 71.892 + (6.540 * 30) + (2.992 * 5) + (2.454 * 20) + (-3.211 * 50)
print(b)

171.58199999999997

In [31]:
print('Perbandingan hasil prediksi apakah sama atau mendekati nilai hasil perhitungan linear.')

print()

print('Hasil prediksi =', hasil2)
print('Hasil perhitungan linear =', b)

Perbandingan hasil prediksi apakah sama atau mendekati nilai hasil perhitungan linear.

Hasil prediksi = [[171.59736729]]
Hasil perhitungan linear = 171.58199999999997

In [34]:
print('Terlihat bahwa hasilnya bisa dibilang tepat dan sangat mendekati hasil prediksi. ' +
        'Jadi jika sebuah mobil di isi bensin sebanyak 30 liter yang membawa ' +
        '5 orang penumpang tanpa bagasi dengan kecepatan 50 km/h serta suhu 20 derajat maka maobil diperkirakan mampu ' +
        'menempuh jarak hingga 171,59 km.')

Terlihat bahwa hasilnya bisa dibilang tepat dan sangat mendekati hasil prediksi. Jadi jika sebuah mobil di isi bensin sebanyak 30 liter yang membawa 5 orang penumpang tanpa bagasi dengan kecepatan 50 km/h serta suhu 20 derajat maka maobil diperkirakan mampu menempuh jarak hingga 171,59 km.

In [35]:
done2 = 'Berhasil', print(done)

Berhasil